{% load markdownify %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="songs-tab" data-bs-toggle="tab" data-bs-target="#songs-tab-pane" type="button" role="tab" aria-controls="songs-tab-pane" aria-selected="false">Songs</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments-tab-pane" type="button" role="tab" aria-controls="comments-tab-pane" aria-selected="false">Comments</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="favorites-tab" data-bs-toggle="tab" data-bs-target="#favorites-tab-pane" type="button" role="tab" aria-controls="favorites-tab-pane" aria-selected="false">Favorites</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!-- Overview tab -->
    <div class="tab-pane fade show active mx-3 mt-2" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
        {% if artist.profile.blurb %}
            {{ artist.profile.blurb|markdownify:"profile" }}
        {% endif %}
    </div>
    
    <!-- Songs tab -->
    <div class="tab-pane fade mx-3 mt-2" id="songs-tab-pane" role="tabpanel" aria-labelledby="songs-tab" tabindex="0">
        <ul>
            {% for song in artist.songs.all %}
            <li>
                <a href="{% url 'view_song' song.id %}">{{ song.get_title }}</a>
            </li>
            {% empty %}<li>No songs yet.</li>{% endfor %}
        </ul>        
    </div>
    
    <!-- Comments tab -->
    <div class="tab-pane fade mx-3 mt-2" id="comments-tab-pane" role="tabpanel" aria-labelledby="comments-tab" tabindex="0">
        {% if artist.profile.has_comments %}
            {% for comment in artist.profile.comment_set.all %}
                <div class="bg-success bg-opacity-25 border border-dark rounded p-1 mx-4 my-2">
                    <div><strong>Song:</strong> <a href="{% url 'view_song' comment.song.id %}">{{comment.song.get_title}}</a> ({{comment.song.filename}}) {% include 'song_artists.html' with song=comment.song %}</div>
                    <div><strong>Posted on:</strong> {{comment.create_date|date:"F j, o"}}</div>
                    <div><strong>Rating:</strong> {{comment.rating}}/10</div>                        
                    <br>
                    {{comment.text|markdownify:"comment"}}
                </div>
            {% endfor %}
        {% else %}
            No comments
        {% endif %}
    </div>
    
    <!-- Favorites tab -->
    <div class="tab-pane fade mx-3 mt-2" id="favorites-tab-pane" role="tabpanel" aria-labelledby="favorites-tab" tabindex="0">
        {% for favorite in artist.profile.favorite_set.all %}
            <li><a href="{% url 'view_song' favorite.song_id %}">{{ favorite.song.get_title }}</a></li>
        {% empty %}
            No favorites added
        {% endfor %}
    </div>
</div>