{% if has_pages %}
    <nav aria-label="song pagination">
        <ul class="pagination justify-content-center">
            {% if range|first != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{% url link artist.pk %}?p=1" aria-label="First">1</a>
                </li>
            {% endif %}
            {% for i in range %}
                <li class="page-item {% if i == page %}disabled{% endif %}">
                    <a class="page-link" href="{% url link artist.pk %}?p={{i}}" aria-label="Page {{i}}">{{i}}</a>
                </li>
            {% endfor %}
            {% if range|last != last_page %}
                <li class="page-item">
                    <a class="page-link" href="{% url link artist.pk %}?p={{last_page}}" aria-label="Last">{{last_page}}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}