{% load bootstrap_icons %}

<div class="">
    <div class="row justify-content-between">
        <div class="col-sm-6">
            <span class="fs-4">{{ song.get_title }}</span> <span class="text-secondary fs-6">({{song.filename}})</span>
        </div>
        {% if song.artist_set.all %}
        <div class="col-sm-4 text-sm-end fs-5">
            {% include 'song_artists.html' with song=song %}
        </div>
        {% endif %}
    </div>

    <div class="text-secondary mx-2 fst-italic">
        added on {{ song.create_date|date:"M d, Y" }}
    </div>

    <div class="row justify-content-between">
        <div class="col-sm my-1">
            <a class="btn btn-success" href="{% url 'download_song' song.id %}">{% bs_icon 'download' %} Download</button></a>
            <a class="btn btn-success" href="#" onclick="window.open('{% url 'player' %}?song_id={{song.id}}', 'keep');">{% bs_icon 'headphones' %} Listen</button></a>
        </div>

        {% if user.is_authenticated %}
        <div class="col-sm-5 btn-group mb-1" role="group">
            {% if artist_can_comment %}
                <a class="btn btn-outline-primary" href="{% url 'add_artist_comment' song.id %}">{% bs_icon 'chat-left-text' %} Add artist comment</a>
            {% elif can_comment%}
                <a class="btn btn-outline-primary" href="{% url 'add_comment' song.id %}">{% bs_icon 'chat-left-text' %} Add comment</a>
            {% endif %}

            {% if not is_own_song %}
                {% if is_favorite %}
                    <a class="btn btn-outline-primary" href="{% url 'remove_favorite' song.id %}">{% bs_icon 'heart-fill' %} Remove song from favorites</a>
                {% else %}
                    <a class="btn btn-outline-primary" href="{% url 'add_favorite' song.id %}">{% bs_icon 'heart' %} Add song to favorites</a>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    </div>
    
    <hr>
</div>