{% load bootstrap_icons %}
<ul class="badges">
    <li>{{song.get_format_display}}</li>
    <li>{{song.display_file_size}}</li>
    <li>{{song.channels}} channels</li>
    {% if song.genre %}
        <li>{{ song.get_genre_display }}</li>
    {% endif %}
    <li>{{ stats.downloads }} downloads</li>
    <li>{{ stats.total_favorites }} favorites</li>
    <li>{{ stats.total_comments }} comments</li>
    {% if stats.average_comment_score > 0.0 %}
        <li>{{ stats.average_comment_score }} average rating</li>
    {% endif %}
</ul>
{% if song.is_featured %}
    <div class="fst-italic text-secondary">
        This song was spotlit on {{ song.featured_date|date:"M d, Y" }}
    </div>
{% endif %}