{% load markdownify %}

{% if song.comment_set.all %}
    <div class="mt-1">
        <div class="fs-5">Comments</div>
        {% for comment in song.comment_set.all %}
            <div class="bg-success bg-opacity-25 border border-dark rounded p-1">
                <div class="fw-bold">
                    {% if comment.profile %}
                        Posted by <a href="{% url 'view_profile' comment.profile.id %}">{{comment.profile.display_name}}</a> on {{comment.create_date|date:"F j, o"}}
                    {% else %}
                        Posted by Anonymous Modarchive User on {{comment.create_date|date:"F j, o"}}
                    {% endif %}
                    <br>
                    Rating: {{comment.rating}}/10
                </div>
                <br>
                {{comment.text|markdownify:"comment"}}
            </div>
        {% endfor %}
    </div>
{% endif %}