{% load filters %}

{% comment %}
{% if song.title_from_file and song.title_from_file != song.title %}
    <h2>Original Title</h2>
    <div class="text-warning bg-dark rounded px-3 py-1 font-monospace internal-comment">
        {{ song.title_from_file|spaces|escape }}
    </div>
{% endif  %}
{% endcomment %}

{% if song.comment_text %}
    <h2>Internal Comments</h2>
    <div class="internal-text">
        {{ song.comment_text|hide_email_address|linebreaks|spaces|escape }}
    </div>
{% endif %}

{% if song.instrument_text %}
    <h2>Instrument Text</h2>
    <div class="internal-text">
        {{ song.instrument_text|hide_email_address|linebreaks|spaces|escape }}
    </div>
{% endif %}