{% load markdown_extras %}
{% load filters %}

{% if song.comment_set.all %}
    <div class="comments">
        <h2>Comments</h2>
        {% for comment in song.comment_set.all %}
            <div class="comment">
                <div class="caption flex">
                    {% if comment.profile %}
                        <div>Posted by <a href="{% url 'view_profile' comment.profile.id %}">{{comment.profile.display_name}}</a> on {{comment.create_date|date:"F j, o"}}</div>
                    {% else %}
                        <div>Posted by Anonymous Modarchive User on {{comment.create_date|date:"F j, o"}}</div>
                    {% endif %}
                    <div>Rating: {{comment.rating}}/10</div>
                </div>
                <p>{{comment.text|render_markdown }}</p>

            </div>
        {% endfor %}
    </div>
{% endif %}