<div class="title">
    <h1>
        {{ song.get_title }}
        {% if song.is_featured %}<i class="icon star"></i>{% endif %}
    </h1>
    <div class="meta">
        <span>({{song.filename}})</span>
        {% if perms.interactions.add_artistcomment and is_own_song %}
        <a class="button" href="{% url 'song_details' song.id %}">Edit details</a>
        {% endif %}

        {% if song.artist_set.all %}
            <div>
                {% include 'song_artists.html' with song=song %}
            </div>
        {% endif %}

        <div>
            added on {{ song.create_date|date:"M d, Y" }}
        </div>
    </div>
</div>

<div class="actions">
    <div>
        <a class="button big icon player scriptEnabled" href="{% url 'player' %}?song_id={{song.id}}">Play</a>
        <a class="button big icon download" href="{% url 'song_download' song.id %}">Download</a>

        {% if user.is_authenticated %}
            {% if perms.interactions.add_comment and can_comment %}
                <a class="button" href="{% url 'add_comment' song.id %}">Add comment</a>
            {% endif %}

            {% if not is_own_song %}
                {% if perms.interactions.delete_favorite and is_favorite %}
                    <a class="button" href="{% url 'remove_favorite' song.id %}">Remove song from favorites</a>
                {% elif perms.interactions.add_favorite %}
                    <a class="button" href="{% url 'add_favorite' song.id %}">Add song to favorites</a>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>
</div>