{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Artist comment on {{song.get_title}}
{% endblock %}

{% block content %}
    <div>
        <div class="fs-2">Add artist comment to {{song.get_title}}</div>

        <form action="{% url 'add_artist_comment' song.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class='btn btn-primary mt-2' value="Add Comment">
        </form>
    </div>

    <div>
        Markdown syntax:
        <br/>
        *italic*
        <br/>
        **bold**
        <br/>
        ~~strikethrough~~
    </div>
{% endblock %}