{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Browse Songs
{% endblock %}

{% block content %}

<div class="fs-2">Songs</div>

<div>
    Browse songs: {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789_" %}
        <a href="{% url 'browse_songs' letter %}">{{ letter }}</a>
    {% endfor %}
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
            {% if page_obj.number == i %}
                <li class="active page-item"><span class="page-link">{{ i }}</span>
                </li>
            {% else %}
                {% if i == page_obj.paginator.ELLIPSIS %}
                    <li class="page-item"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>

<table class="table table-striped" style="border: 0;">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
{% for song in songs %}
    <tr>
        <td><a href="{% url 'view_song' song.id %}">{{song.filename}}</a></td>
        <td>{{ song.get_title }}</td>
        <td>{% include 'song_artists.html' with song=song %}</td>
    </tr>
{% empty %}
    <div>No songs yet.</div>
{% endfor %}
    </tbody>
</table>

{% endblock %}