{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Browse Songs by {{label}}
{% endblock %}

{% block content %}

<h1>Songs</h1>


<div class="form-group">
    <label class="form-group-label" for="filter-dropdown">Browse by {{label}}:</label>
    <select id="filter-dropdown" class="form-select">
        {% for option in options %}
            <option value="{{ option.2 }}" {% if option.0 == query %}selected{% endif %}>{{ option.1 }}</option>
        {% endfor %}
    </select>
</div>


<script>
    document.getElementById("filter-dropdown").onchange = function() {
        window.location.href = this.value;
    }
</script>

{% include 'common_elements/paginator.html' with page_obj=page_obj page_range=page_range %}

{% include 'song_table.html' with songs=songs %}

{% endblock %}