{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Screen Songs
{% endblock %}

{% block extra_css %}
    <style>
        .selected-row {
            background-color: #228B22;
            color: #fff;
        }
    </style>
{% endblock %}


{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectAllCheckbox = document.getElementById('selectAllCheckbox');
        const checkboxes = document.querySelectorAll('.song-checkbox');

        selectAllCheckbox.addEventListener('change', function () {
            checkboxes.forEach(checkbox => {
                checkbox.checked = selectAllCheckbox.checked;
            });
        });

        const rows = document.querySelectorAll('.song-row');
        rows.forEach(row => {
            row.addEventListener('click', () => {
                const checkbox = row.querySelector('.song-checkbox');
                if (!event.target.closest('.song-checkbox')) {
                    checkbox.checked = !checkbox.checked;
                }
                updateRowStyles();
            });
        });

        function updateRowStyles() {
            rows.forEach(row => {
                const checkbox = row.querySelector('.song-checkbox');
                if (checkbox.checked) {
                    row.classList.add('selected-row');
                } else {
                    row.classList.remove('selected-row');
                }
            });
        }
    });
</script>
{% endblock %}

{% block content %}

<div class="fs-2">Screen Songs</div>

{% include 'partials/page_navigation.html' %}

<div class="container mt-5">
    <form id="songForm" method="post" action="{% url 'screening_action' %}">
        {% csrf_token %}
        <table class="table table-dark table-hover rounded">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAllCheckbox"></th>
                    <th>Filename</th>
                    <th>Title</th>
                    <th>File Size</th>
                    <th>Format</th>
                </tr>
            </thead>
            <tbody>
                {% for song in new_songs %}
                    <tr class='song-row'>
                        <td>
                            <input type="checkbox" class="song-checkbox" name="selected_songs" value="{{ song.id }}">
                        </td>
                        <td>{{ song.filename }}</td>
                        <td>{{ song.title }}</td>
                        <td>{{ song.file_size }}</td>
                        <td>{{ song.format }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mb-3">
            <label for="actionDropdown" class="form-label">Select Action:</label>
            <select class="form-select" id="actionDropdown" name="action">
                <option value="approve">Approve Songs</option>
                <option value="reject">Reject Songs</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Perform Action</button>
    </form>
</div>

{% endblock %}