{% extends 'base_page/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}

{% block title %}
    {{ block.super }}: Screen Songs
{% endblock %}

{% block extra_css %}
    <style>
        .selected-row {
            background-color: #228B22;
            color: #fff;
        }
    </style>
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectAllCheckbox = document.getElementById('selectAllCheckbox');
        const checkboxes = document.querySelectorAll('.song-checkbox');

        selectAllCheckbox.addEventListener('change', function () {
            checkboxes.forEach(checkbox => {
                checkbox.checked = selectAllCheckbox.checked;
            });
        });

        const rows = document.querySelectorAll('.song-row');
        rows.forEach(row => {
            row.addEventListener('click', () => {
                const checkbox = row.querySelector('.song-checkbox');
                if (!event.target.closest('.song-checkbox')) {
                    checkbox.checked = !checkbox.checked;
                }
                updateRowStyles();
            });
        });

        document.querySelector('#filterDropdown').addEventListener('change', function (event) {
            const selectedFilter = event.target.value;
            // Reload the page with the new filter and page=1
            window.location.href = window.location.pathname + '?filter=' + selectedFilter + '&page=1';
        });

        function updateRowStyles() {
            rows.forEach(row => {
                const checkbox = row.querySelector('.song-checkbox');
                if (checkbox.checked) {
                    row.classList.add('selected-row');
                } else {
                    row.classList.remove('selected-row');
                }
            });
        }
    });
</script>
{% endblock %}

{% block content %}

<div class="fs-2">Screen Songs</div>

<!-- Display messages, if any -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- Filters dropdown -->
<div class="container mt-3 mb-3">
    {{ form|crispy }}
</div>

{% include 'partials/page_navigation.html' %}

<div class="container mt-5">
    <form id="songForm" method="post" action="{% url 'screening_action' %}">
        {% csrf_token %}
        <table class="table table-dark table-hover rounded">
            <caption>List of songs in the screening queue</caption>
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAllCheckbox"></th>
                    <th>Filename</th>
                    <th>Title</th>
                    <th>File Size</th>
                    <th>Format</th>
                    <th>Link</th>
                    <th>Get</th>
                </tr>
            </thead>
            <tbody>
                {% for song in new_songs %}
                    <tr class='song-row'>
                        <td>
                            <input type="checkbox" class="song-checkbox" name="selected_songs" value="{{ song.id }}">
                        </td>
                        <td>{{ song.filename }}</td>
                        <td>{{ song.title }}</td>
                        <td>{{ song.file_size }}</td>
                        <td>{{ song.format }}</td>
                        <td><a href="{% url 'screen_song' song.id %}" class="btn btn-primary">View</a></td>
                        <td><a href="{% url 'screening_download' song.id %}" class="btn btn-primary">{% bs_icon 'download' %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if actions %}
        <div class="mb-3">
            <label for="actionDropdown" class="form-label">Select Action:</label>
            <select class="form-select" id="actionDropdown" name="action">
                {% for action, label in actions %}
                    <option value="{{ action }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Perform Action</button>
        {% endif %}
    </form>
</div>

{% endblock %}