{% extends 'base_page/base.html' %}
{% load filters %}

{% block title %}
    {{ block.super }}: Screening New Song - {{ new_song.title }}
{% endblock %}

{% block content %}
    <div class="fs-4">{{new_song.filename}}</div>
    
    {% if new_song.uploader_profile %}
        <div>Uploaded by: <a href="{% url 'view_profile' new_song.uploader_profile.pk %}">{{new_song.uploader_profile.display_name}}</a></div>
    {% else %}
        <div>Uploaded by: TMA Placeholder account</div>
    {% endif %}
    <div>Format: {{new_song.format}}</div>
    <div>Channels: {{new_song.channels}}</div>
    <div>File Size: {{new_song.file_size}}</div>

    <div class="fs-5 my-1">
        Title
    </div>

    <div class="text-warning bg-dark rounded px-3 py-1 font-monospace internal-comment">
        {{ new_song.title|spaces|escape }}
    </div>

    {% if new_song.comment_text %}
        <div class="fs-5 my-1">
            Internal Comments
        </div>
        
        <div class="text-warning bg-dark rounded p-3 font-monospace internal-comment">
            {{ new_song.comment_text|hide_email_address|linebreaks|spaces|escape }}
        </div>
    {% endif %}
    
    {% if new_song.instrument_text %}
        <div class="fs-5 my-1">
            Instrument Text
        </div>    

        <div class="text-warning bg-dark rounded p-3 font-monospace internal-comment">
            {{ new_song.instrument_text|hide_email_address|linebreaks|spaces|escape }}
        </div>
    {% endif %}
{% endblock %}