{% extends 'base_page/base.html' %}
{% load filters %}

{% block title %}
    {{ block.super }}: Screening New Song - {{ new_song.title }}
{% endblock %}

{% block content %}
    {% if claimed_by_me %}
        <div class="alert alert-info" role="alert">
            You have claimed this song for screening. If you do not take an action within 48 hours of claiming it, it will be released back into the pool.
        </div>
    {% endif %}

    {% if claimed_by_other_user %}
        <div class="alert alert-warning" role="alert">
            This song has been claimed for screening by <a href="{% url 'view_profile' new_song.claimed_by.pk %}">{{ new_song.claimed_by.display_name }}</a>. You cannot take any actions on this song until it is released back into the pool. It will be released back into the pool automatically if no action has been taken within 48 hours of being claimed.
        </div>
    {% endif %}

    <div class="fs-4">{% if new_song.title %} {{new_song.title}} - ({{new_song.filename}}) {% else %} {{new_song.filename}} {% endif %}</div>

    <!-- Show flag -->
    {% if new_song.flag %}
        <div class='alert alert-{{ flag_message_class }}'>
            {{ flag_message }}
            <hr>
            {% if new_song.flagged_by %}
                Flagged by: <a href="{% url 'view_profile' new_song.flagged_by.pk %}">{{ new_song.flagged_by.display_name }}</a>
            {% endif %}
        </div>

    {% endif %}
    
    <a href="{% url 'screening_download' new_song.pk %}" class="btn btn-primary" download>Download</a>

    {% if new_song.uploader_profile %}
        <div>Uploaded by: <a href="{% url 'view_profile' new_song.uploader_profile.pk %}">{{new_song.uploader_profile.display_name}}</a></div>
    {% else %}
        <div>Uploaded by: TMA Placeholder account</div>
    {% endif %}
    <div>Format: {{new_song.format}}</div>
    <div>Channels: {{new_song.channels}}</div>
    <div>File Size: {{new_song.file_size}}</div>

    <div class="fs-5 my-1">
        Title
    </div>

    <div class="text-warning bg-dark rounded px-3 py-1 font-monospace internal-comment">
        {{ new_song.title|spaces|escape }}
    </div>

    {% if new_song.comment_text %}
        <div class="fs-5 my-1">
            Internal Comments
        </div>
        
        <div class="text-warning bg-dark rounded p-3 font-monospace internal-comment">
            {{ new_song.comment_text|hide_email_address|linebreaks|spaces|escape }}
        </div>
    {% endif %}
    
    {% if new_song.instrument_text %}
        <div class="fs-5 my-1">
            Instrument Text
        </div>    

        <div class="text-warning bg-dark rounded p-3 font-monospace internal-comment">
            {{ new_song.instrument_text|hide_email_address|linebreaks|spaces|escape }}
        </div>
    {% endif %}

    {% if actions %}
    <form method="post" action="{% url 'screening_action' %}">
        {% csrf_token %}
        <input type="hidden" name="selected_songs" value="{{ new_song.pk }}">
        <div class="mb-3">
            <label for="actionDropdown" class="form-label">Select Action:</label>
            <select class="form-select" id="actionDropdown" name="action">
                {% for action, label in actions %}
                    <option value="{{ action }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Perform Action</button>
    </form>
    {% endif %}
{% endblock %}