{% extends 'base.html' %}

{% block content %}

<div class='title'>{{ song.get_title }}</div>

<p>
    By {% include 'song_artists.html' with song=song %}
    <br/>
    Added on {{ song.create_date|date:"M d, Y" }}
    <br/>
    Filename: {{ song.filename }}
    <br/>
    Format: {{ song.format }}
    <br/>
    File size: {{ song.file_size }} bytes
    <br/>
    Channels: {{ song.channels }}
</p>

<p><a href="{% url 'download_song' song.id %}">Download</a></p>

<div class='title is-size-4'>Stats</div>

<p>
    Total downloads: {{ song.songstats.downloads }}
    <br/>
    Total comments: {{ song.songstats.total_comments }}
    <br/>
    Average comment score: {{ song.songstats.average_comment_score }}
    <br/>
    Total reviews: {{ song.songstats.total_reviews }}
    <br/>
    Average review score: {{ song.songstats.average_review_score }}
</p>

<p>
    <br />
    <a href="{% url 'songs' %}">Back to songs index</a>
</p>

{% endblock %}