{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Songs Index
{% endblock %}

{% block content %}

<h1>Songs</h1>

<nav class="subnav right">
    <div class="buttongroup">
        <label>Browse by</label>
        <a href="{% url 'browse_by_filename' 'a' %}">Filename</a>
        <a href="{% url 'browse_by_license' 'by' %}">License</a>
        <a href="{% url 'browse_by_genre' 'electronic-techno' %}">Genre</a>
        <a href="{% url 'browse_by_rating' 9 %}">Rating</a>
    </div>
    <div class="buttongroup">
        <label>Go to</label>
        <a href="{% url 'random_song' %}">Random song</a>
        <!--<a href="{% url 'random_song' %}">Charts</a>-->
    </div>
</nav>

<div>

    <h2>Or perhaps enjoy some of these ...</h2>

    {% include 'song_table.html' with songs=songs %}

</div>

{% endblock %}