{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Songs Index
{% endblock %}

{% block content %}

<div class="fs-2">Songs</div>

<p><a href="{% url 'random_song' %}">Go to a random song</a></p>

<div>
    <a href="{% url 'browse_by_filename' 'a' %}">Browse by Filename</a>
</div>

<div>
    <a href="{% url 'browse_by_license' 'by' %}">Browse by License</a>
</div>

<div>
    <a href="{% url 'browse_by_genre' 1 %}">Browse by Genre</a>
</div>

<div>
    <a href="{% url 'browse_by_rating' 9 %}">Browse by Rating</a>
</div>

{% endblock %}