{% extends 'base.html' %}
{% load filters %}
{% load markdownify %}

{% block title %}
    {{ block.super }}: {{ song.get_title }} {% if song.artist_set.all %}
    by {% for artist in song.artist_set.all %}
        {% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}
        {{ artist.name }}
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}

{% if user.is_staff and perms.songs.change_song %}
    <article class="message is-warning">
        <div class="message-header">
            <p>Admin Actions</p>
        </div>
        <div class="message-body">
            <a href="{% url 'admin:songs_song_change' song.id %}">Change this song</a>
        </div>
    </article>
{% endif %}


<div class="block">
    <div class='title'>{{ song.get_title }}</div>

    <div class="content is-medium">
        {% if song.artist_set.all %}
        {% include 'song_artists.html' with song=song %}
        <br/>
        {% endif %}
        <p>
            <a href="{% url 'download_song' song.id %}">Download</a>
            {% if perms.songs.view_song %}
                <br/>
                <a href="{% url 'player' %}?song_id={{song.id}}" target="_blank" rel="noopener noreferrer">Listen now</a>
            {% endif %}
        </p>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="content is-medium">
            Song Info
        </div>
        <div class="box has-background-light">
            Added on {{ song.create_date|date:"M d, Y" }}
            <br/>
            Filename: {{ song.filename }}
            <br/>
            Format: {{ song.format }}
            <br/>
            File size: {{ song.file_size }} bytes
            <br/>
            Channels: {{ song.channels }}    
        </div>
    </div>
    <div class="column">
        <div class="content is-medium">
            Stats
        </div>
        <div class="box has-background-light">
            Total downloads: {{ song.songstats.downloads }}
            <br/>
            Total comments: {{ song.songstats.total_comments }}
            <br/>
            Average comment score: {{ song.songstats.average_comment_score }}
            <br/>
            Total reviews: {{ song.songstats.total_reviews }}
            <br/>
            Average review score: {{ song.songstats.average_review_score }}
        </div>
    </div>
</div>

<div class="content is-medium">
    People who like this tune
</div>

<div class="content box has-background-light">
    {% if user.is_authenticated %}
        <p>
        {% if is_favorite %}
            <a href="{% url 'remove_favorite' song.id %}">Remove song from favorites</a>
        {% elif not is_own_song %}
            <a href="{% url 'add_favorite' song.id %}">Add song to favorites</a>
        {% endif %}
        </p>
    {% endif %}
    <div class="faves">
        {% for favorite in song.favorite_set.all %}
            <a href="{% url 'view_profile' favorite.profile_id %}">{{ favorite.profile.display_name }}</a>
        {% empty %}
            None yet
        {% endfor %}
    </div>
</div>

{% if user.is_authenticated and artist_can_comment %}
    <div class="content box has-background-primary-light">
        Artists can add a comment to their own songs. <a href="{% url 'add_artist_comment' song.id %}">Add one now!</a>
    </div>
{% endif %}

{% if song.artistcomment_set.all %}
    <div class="block">
        <div class="content is-medium">Artist Comments</div>
        {% for comment in song.artistcomment_set.all %}
            <div class="box has-background-light">
                <div class="has-text-weight-bold">
                    Posted by <a href="{% url 'view_profile' comment.profile.id %}">{{comment.profile.display_name}}</a> on {{comment.create_date|date:"F j, o"}}
                    <br>
                </div>
                <br>
                {{comment.text|markdownify:"comment"|linebreaks}}
                {% if user.is_authenticated and is_own_song and comment.profile_id == user.profile.id %}
                    
                    <span class="is-size-7"><a href="{% url 'update_artist_comment' comment.id %}">Update your comment</a></span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if user.is_authenticated and can_comment %}
    <div class="content box has-background-primary-light">
        {% if song.songstats.total_comments == 0 %}
            <a href="{% url 'add_comment' song.id %}">Be the first to add a comment to this song!</a>
        {% else %}
            <a href="{% url 'add_comment' song.id %}">Add a comment to this song!</a>
        {% endif %}
    </div>
{% endif %}

{% if song.comment_set.all %}
    <div class="block">
        <div class="content is-medium">Comments</div>
        {% for comment in song.comment_set.all %}
            <div class="box has-background-light">
                <div class="has-text-weight-bold">
                    {% if comment.profile %}
                        Posted by <a href="{% url 'view_profile' comment.profile.id %}">{{comment.profile.display_name}}</a> on {{comment.create_date|date:"F j, o"}}
                    {% else %}
                        Posted by Anonymous Modarchive User on {{comment.create_date|date:"F j, o"}}
                    {% endif %}
                    <br>
                    Rating: {{comment.rating}}/10
                </div>
                <br>
                {{comment.text|markdownify:"comment"|linebreaks}}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if song.comment_text %}
    <div class="content is-medium">
        Internal Comments
    </div>
    
    <div class="box is-family-monospace has-background-dark has-text-warning">    
        {{ song.comment_text|hide_email_address|linebreaks|spaces|escape }}
    </div>
{% endif %}

{% if song.instrument_text %}
    <div class="content is-medium">
        Instrument Text
    </div>    

    <div class="box is-family-monospace has-background-dark has-text-warning">
        {{ song.instrument_text|hide_email_address|linebreaks|spaces|escape }}
    </div>
{% endif %}

<p>
    <br />
    <a href="{% url 'songs' %}">Back to songs index</a>
</p>

{% endblock %}