{% extends 'base_page/base.html' %}
{% load markdownify %}

{% block title %}
    {{ block.super }}: {{ artist.name }} artist profile
{% endblock %}

{% block content %}

{% if user.is_staff and perms.artists.change_artist %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Admin Actions</h4>
        <a href="{% url 'admin:artists_artist_change' artist.id %}">Change this artist</a>
    </div>
{% endif %}

<div class='fs-2 title'>{{ artist.name }}</div>

{% if artist.profile %}
<p>
    Member since {{ artist.profile.create_date|date:"M d, Y" }}

    {% if user.profile and user.profile.id == artist.profile.id %}
        - <a href="{% url 'update_profile' %}">Update your profile</a>
    {% endif %}
</p>
{% endif %}


{% if artist.profile %}
    {% include 'partials/artist_with_profile.html' %}
{% else %}
    {% include 'partials/artist_without_profile.html' %}
{% endif %}

<p>
    <br/>
    <a href="{% url 'artists' %}">Back to artists index</a>
</p>

{% endblock %}