{% extends 'base.html' %}

{% block title %}
    {{ block.super }}: {{ artist.name }} artist profile
{% endblock %}

{% block content %}

{% if user.is_staff and perms.artists.change_artist %}
    <article class="message is-warning">
        <div class="message-header">
            <p>Admin Actions</p>
        </div>
        <div class="message-body">
            <a href="{% url 'admin:artists_artist_change' artist.id %}">Change this artist</a>
        </div>
    </article>
{% endif %}

<h1 class='title'>{{ artist.name }}</h1>

<p>
    Member since {{ artist.create_date|date:"M d, Y" }}
</p>

<p>
    <br/>
    <strong>Songs:</strong>
<p>
<ul>
    {% for song in artist.songs.all %}
    <li>
        <a href="{% url 'view_song' song.id %}">{{ song.get_title }}</a>
    </li>
    {% empty %}<li>No songs yet.</li>{% endfor %}
</ul>

<p>
    <br/>
    <a href="{% url 'artists' %}">Back to artists index</a>
</p>

{% endblock %}    