{% extends 'base.html' %}

{% block content %}

<h1 class='title'>Artists</h1>

{% if perms.artists.add_artist %}
    <article class="message is-warning">
        <div class="message-header">
            <p>Admin Actions</p>
        </div>
        <div class="message-body">
            <a href="{% url 'add_artist' %}">Add an artist</a>
        </div>
    </article>
{% endif %}

<ul>
{% for artist in object_list %}
    <li>
        <a href="{% url 'view_artist' artist.id %}">{{ artist.name }}</a>
    </li>
{% empty %}
    <li>No artists yet.</li>
{% endfor %}
</ul>

{% endblock %}