{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Artists list
{% endblock %}

{% block content %}

<h2>Artists</h2>

{% if user.is_staff and perms.songs.change_song %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Admin Actions</h4>
        <a href="{% url 'admin:artists_artist_add' %}">Add an artist</a>
    </div>
{% endif %}

{% for artist in object_list %}
    <div>
        <a href="{% url 'view_artist' artist.id %}">{{ artist.name }}</a>
    </div>
{% empty %}
    <div>No artists yet.</div>
{% endfor %}

{% endblock %}