{% extends 'base_page/base.html' %}
{% load markdownify %}

{% block title %}
    {{ block.super }}: {{ artist.name }} comments
{% endblock %}

{% block content %}

{% if user.is_staff and perms.artists.change_artist %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Admin Actions</h4>
        <a href="{% url 'admin:artists_artist_change' artist.id %}">Change this artist</a>
    </div>
{% endif %}

<div class='fs-2 title'>Comments by {{ artist.name }}</div>

{% if artist.profile %}
<p>
    Member since {{ artist.profile.create_date|date:"M d, Y" }}

    {% if user.profile and user.profile.id == artist.profile.id %}
        - <a href="{% url 'update_profile' %}">Update your profile</a>
    {% endif %}
</p>
{% endif %}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_artist' artist.pk %}">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_artist_songs' artist.pk %}">Songs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'view_artist_comments' artist.pk %}">Comments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_artist_favorites' artist.pk %}">Favorites</a>
    </li>
</ul>

<hr>

<div class="tab-content">
    {% if artist.profile.has_comments %}
        {% for comment in artist.profile.comment_set.all %}
            <div class="bg-success bg-opacity-25 border border-dark rounded p-1 mx-4 my-2">
                <div><strong>Song:</strong> <a href="{% url 'view_song' comment.song.id %}">{{comment.song.get_title}}</a> ({{comment.song.filename}}) {% include 'song_artists.html' with song=comment.song %}</div>
                <div><strong>Posted on:</strong> {{comment.create_date|date:"F j, o"}}</div>
                <div><strong>Rating:</strong> {{comment.rating}}/10</div>                        
                <br>
                {{comment.text|markdownify:"comment"}}
            </div>
        {% endfor %}
    {% else %}
        No comments
    {% endif %}     
</div>

<p>
    <br/>
    <a href="{% url 'artists' %}">Back to artists index</a>
</p>

{% endblock %}