{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Artists list
{% endblock %}

{% block content %}

<h1>Artists</h1>

{% if user.is_staff and perms.songs.change_song %}
    <div class="adminpanel">
        <h4>Admin Actions</h4>
        <menu>
            <li>
                <a href="{% url 'admin:artists_artist_add' %}">Add an artist</a>
            </li>
        </menu>
    </div>
{% endif %}

<div class="artists">

    {% for artist in object_list %}
        <div class="artist">
            <a href="{% url 'view_artist' artist.id %}">
                <img src="{% include 'partials/artist_image_url.html' with artist=artist %}" alt="{{ artist.name }}">
                {{ artist.name }}
            </a>
        </div>
    {% empty %}
        <div>No artists yet.</div>
    {% endfor %}

</div>

{% endblock %}
