{% extends 'base_page/base.html' %}
{% load filters %}

{% block title %}
    {{ block.super }}: {{ artist.name }} artist profile
{% endblock %}

{% block content %}

{% if user.is_staff and perms.artists.change_artist %}
    <div class="adminpanel">
        <h4>Admin Actions</h4>
        <menu>
            <li>
                <a href="{% url 'admin:artists_artist_change' artist.id %}">Change this artist</a>
            </li>
        </menu>
    </div>
{% endif %}

<h1>{{ artist.name }}</h1>


{% include 'common_elements/paginator.html' with page_obj=page_obj page_range=page_range %}

{% include 'song_table.html' with songs=songs hide_artist=True %}


<div class="infobox">
    <i class="icon info bottom"></i>
    This artist is not a modarchive user and they do not actively maintain this page. If there concerns about this page, please contact modarchive staff.
</div>

<a class="button" href="{% url 'artists' %}">Back to artists index</a>

{% endblock %}
