{% extends 'base_page/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}: Change password
{% endblock %}

{% block content %}

<h2>Change your password</h2>

<form method="post" action="{% url 'change_password' %}" novalidate>
    {% csrf_token %}
    
    {{ form|crispy }}
    
    <input type="submit" value="Submit" class='btn btn-primary mt-2'>
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
</form>

{% endblock %}    