{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Change password
{% endblock %}

{% block content %}

<h2>Change your password</h2>

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form method="post" action="{% url 'change_password' %}" novalidate>
    {% csrf_token %}
    
    {{ form }}
    
    <input type="submit" value="Submit" class='btn btn-primary mt-2'>
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
</form>

{% endblock %}    