{% extends 'base_page/base.html' %}
{% load crispy_forms_tags %}

{% comment %} {% load sceneid_tags %} {% endcomment %}

{% block title %}
    {{ block.super }}: Log in
{% endblock %}

{% block content %}

<h1>Log in</h1>

<div>
    <form method="post" action="{% url 'login' %}" novalidate>
        {% csrf_token %}
        
        {{ form|crispy }}

        <div>
            <input type="submit" value="Log In" class='button big'>
            {% comment %} {% sceneid_login_button_large %} {% endcomment %}
        </div>

        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
    </form>

    <br/>
    
    <div class="small"><a href="{% url 'forgot_password' %}">Forgot your password?</a></div>
</div>

{% endblock %}    