{% extends 'base_page/base.html' %}
{% load crispy_forms_tags %}

{% comment %} {% load sceneid_tags %} {% endcomment %}

{% block title %}
    {{ block.super }}: Log in
{% endblock %}

{% block content %}

<div class='fs-2'>Log in</div>

<div>
    <form method="post" action="{% url 'login' %}" novalidate>
        {% csrf_token %}
        
        {{ form|crispy }}

        <div class="align-middle">
            <input type="submit" value="Log In" class='btn btn-primary mt-2'>
            {% comment %} {% sceneid_login_button_large %} {% endcomment %}
        </div>

        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
    </form>
    
    <div class="is-size-7 is-italic"><a href="{% url 'forgot_password' %}">Forgot your password?</a></div>
</div>

{% endblock %}    