{% extends 'base.html' %}

{% block title %}
    {{ block.super }}: Forgot password
{% endblock %}

{% block content %}

<h1 class='title'>Reset your password</h1>

{% if form.non_field_errors %}
    <article class="message is-danger">
        <div class="message-body">
            {{ form.non_field_errors }}
        </div>
    </article>
{% endif %}

<div class='columns'>
    <div class='column is-6 is-offset-3'>
        <form class='box is-6' method="post" action="{% url 'forgot_password' %}" novalidate>
            {% csrf_token %}
            
            {% include 'form_field.html' with element=form.email errors=form.errors.email %}

            <input type="submit" value="Submit" class='button is-primary'>
        </form>
    </div>
</div>
{% endblock %}    