{% extends 'base_page/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}: Forgot password
{% endblock %}

{% block content %}

<h2>Reset your password</h2>

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form class='box is-6' method="post" action="{% url 'forgot_password' %}" novalidate>
    {% csrf_token %}
    
    {{ form|crispy }}

    <input type="submit" value="Submit" class='btn btn-primary mt-2'>
</form>

{% endblock %}    