{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Reset your password
{% endblock %}

{% block content %}

<h2 class='title'>Reset your password</h2>

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form class='box is-6' method="post" novalidate> 
    {% csrf_token %}
    
    {{ form }}
    
    <input type="submit" value="Submit" class='btn btn-primary mt-2'>
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
</form>

{% endblock %}    