{% extends 'base.html' %}

{% block content %}
    This is the bulk upload page.

    <div class='columns'>
        <div class='column is-6 is-offset-3'>
            <form enctype="multipart/form-data" class='box is-6' method="post" action="{% url 'bulk_upload' %}" novalidate>
                {% csrf_token %}
                
                {% include 'form_field.html' with element=form.csv_file errors=form.errors.username %}
    
                <input type="submit" value="Bulk Upload" class='button is-primary'>
            </form>
        </div>
    </div>
{% endblock %}