{% extends 'base_page/base.html' %}
{% load crispy_forms_filters %}
{% load markdown_extras %}
{% load filters %}

{% block title %}
    {{ block.super }}: {{profile.display_name}} messages
{% endblock %}

{% block content %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".reply-link").forEach(link => {
            link.addEventListener("click", function (e) {
                e.preventDefault();
                const id = this.dataset.messageId;
                document
                    .getElementById(`reply-form-${id}`)
                    .classList.toggle("d-none");
            });
        });
    });
    </script>    

    <h1>
        Profile: {{ profile.display_name }}
    </h1>

    {% include "profile/profile_header_and_navigation.html" with profile=profile artist=profile.artist user=user active_tab='messages' %}

<div class="tab-panel purple messages">

    {% include 'common_elements/paginator.html' with page_obj=page_obj page_range=page_range %}

    {% for message in object_list %}
        <div class="message">
        <div class="caption">
            <a href="{% url 'view_profile' message.sender.pk %}">{{ message.sender.display_name }}</a>
            wrote on {{ message.create_date|date:"F j, o" }}:
        </div>
        <p>{{ message.text|render_markdown }}</p>
        {% if user.is_authenticated and perms.homepage.add_message %}

        <div class="reply-form">
            <button class="reply small toggle-parent" data-target=".reply-form">Reply</button>
            <form method="post" action="{% url 'create_message' profile.id %}">
                {% csrf_token %}
                {{ message_form|crispy }}

                <input type="hidden" name="reply_to" value="{{ message.id }}">
                <input type="hidden" name="profile_id" value="{{ profile.id }}">

                <div class="buttons">
                    <button type="submit" class="btn-primary">Post reply</button>
                    <button type="button" class="toggle-parent" data-target=".reply-form">Cancel</button>
                </div>

            </form>
        </div>
        {% endif %}
        </div>

        {% for message in message.thread_replies %}
        <div class="message reply">
            <div class="caption">
                <a href="{% url 'view_profile' message.sender.pk %}">{{ message.sender.display_name }}</a>>
                replied on {{ message.create_date|date:"F j, o" }}:
            </div>
            <p>{{ message.text|render_markdown }}</p>
            {% if user.is_authenticated and perms.homepage.add_message %}
            <div class="reply-form">
                <button class="toggle-parent reply small" data-target=".reply-form">Reply</button>
                <form method="post" action="{% url 'create_message' profile.id %}">
                    {% csrf_token %}
                    {{ message_form|crispy }}

                    <input type="hidden" name="reply_to" value="{{ reply.id }}">
                    <input type="hidden" name="profile_id" value="{{ profile.id }}">


                    <div class="buttons">
                        <button type="submit" class="btn-primary">Post reply</button>
                        <button type="button" class="toggle-parent" data-target=".reply-form">Cancel</button>
                    </div>

                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    {% empty %}
        <p>Nothing here</p>
    {% endfor %}

    {% if profile.enable_shoutwall and user.is_authenticated and perms.homepage.add_message %}
    <div class="messagereply-form">
        <h3>Post a message to {{profile.display_name}}</h3>

        <form method="post" action="{% url 'create_message' profile.id %}">
            {% csrf_token %}
            {{ message_form|crispy }}

            <!-- empty reply_to = top-level message -->
            <input type="hidden" name="profile_id" value="{{ profile.id }}">

            <div class="buttons">
                <button type="submit" class="btn-primary">
                    Post message
                </button>
            </div>
        </form>
    </div>
    {% endif %}

</div>

{% endblock %}