{% extends 'base_page/base.html' %}
{% load markdown_extras %}
{% load filters %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}: {{profile.display_name}} profile
{% endblock %}

{% block content %}

    {% if user.profile and user.profile.id == profile.id %}
        <a href="{% url 'update_profile' %}" class="button btn-primary sidebutton right">Update your profile</a>
    {% endif %}
    <h1>
        Profile: {{ profile.display_name }}
    </h1>

    {% include "profile/profile_header_and_navigation.html" with profile=profile artist=artist user=user active_tab='overview' %}

    <div class="tab-panel blue messages">
        {% if profile.blurb %}
            {{ profile.blurb|render_markdown:"profile_blurbs" }}
        {% endif %}

        {% if profile.enable_shoutwall and most_recent_messages %}


            {% for message in most_recent_messages %}
                <div class="message">
                    <div class="caption"><a href="{% url 'view_profile' message.sender.pk %}">{{ message.sender.display_name }}</a> wrote on {{message.create_date|date:"F j, o"}}:</div>
                    <p>{{ message.text|render_markdown }}</p>
                    {% if message.reply_recipient and message.reply_to %}
                        <div class="fs-6">
                            In reply to <a href="{% url 'view_profile' message.reply_recipient.pk %}">{{message.reply_recipient.display_name}}</a>
                        </div>
                        <div class="border border-dark bg-opacity-25 ms-4 p-1 my-2">
                            <em>{{ message.reply_to.text|render_markdown }}</em>
                        </div>
                    {% endif %}

                    {% if user.is_authenticated and perms.homepage.add_message %}
                    <div class="reply-form">
                        <button class="small toggle-parent reply" data-target=".reply-form">Reply</button>
                        <form method="post" action="{% url 'create_message' profile.id %}">
                            <h3>Post your reply</h3>
                            {% csrf_token %}
                            {{ message_form|crispy }}

                            <input type="hidden" name="reply_to" value="{{ message.id }}">
                            <input type="hidden" name="profile_id" value="{{ profile.id }}">

                            <div class="buttons">
                                <button type="submit" class="button btn-primary">Post reply</button>
                                <button type="button" class="toggle-parent" data-target=".reply-form">Cancel</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            {% empty %}
                <p>No messages yet</p>
            {% endfor %}
        {% endif %}

        {% comment %} Post a message (non-reply) {% endcomment %}
        {% if profile.enable_shoutwall and user.is_authenticated and perms.homepage.add_message %}
            <div class="messagereply-form">
                <h3>Post a message to the shoutwall</h3>

                <form method="post" action="{% url 'create_message' profile.id %}">
                    {% csrf_token %}
                    {{ message_form|crispy }}

                    <!-- empty reply_to = top-level message -->
                    <input type="hidden" name="profile_id" value="{{ profile.id }}">

                    <div class="buttons">
                        <button type="submit" class="btn-primary">
                            Post message
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}