{% if profile %}
<div class="subnav right elevated">
    Member since {{ profile.create_date|date:"M d, Y" }}

    {% if user.profile and user.profile.id == profile.id %}
        <a class="button" href="{% url 'update_profile' %}">Update your profile</a>
    {% endif %}

    {% if profile.website %}
        <br/>
        <a href="{{profile.website}}">Visit Website</a>
    {% endif %}
</div>
{% endif %}

<ul class="nav tabs">
    <li>
        <a class="blue {% if active_tab == 'overview' %}active{% endif %}" aria-current="page" href="{% url 'view_profile' profile.pk %}">Overview</a>
    </li>
    {% if artist %}
        <li>
            <a class="green {% if active_tab == 'songs' %}active{% endif %}" href="{% url 'view_profile_songs' profile.pk %}">Songs</a>
        </li>
    {% endif %}
    <li>
        <a class="orange {% if active_tab == 'comments' %}active{% endif %}" href="{% url 'view_profile_comments' profile.pk %}">Comments</a>
    </li>
    <li>
        <a class="yellow {% if active_tab == 'favorites' %}active{% endif %}" href="{% url 'view_profile_favorites' profile.pk %}">Favorites</a>
    </li>
    {% if profile.enable_shoutwall %}
        <li>
            <a class="purple {% if active_tab == 'messages' %}active{% endif %}" href="{% url 'view_profile_messages' profile.pk %}">Messages</a>
        </li>
    {% endif %}
</ul>
