{% extends 'base_page/base.html' %}
{% load markdownify %}

{% block title %}
    {{ block.super }}: {{profile.display_name}} comments
{% endblock %}

{% block content %}
    <div class="fs-2">
        Profile: {{ profile.display_name }}
    </div>

    {% include "profile/profile_header_and_navigation.html" with profile=profile artist=profile.artist user=user active_tab='comments' %}
    
    <hr>

    <div class="tab-content">        
        <!-- Comments tab -->
        {% include 'common_elements/paginator.html' with page_obj=page_obj page_range=page_range %}

        {% if profile.has_comments %}
            <div class='mx-5'>
                {% for comment in object_list %}
                    <div class="bg-success bg-opacity-25 border border-dark rounded p-1 mx-4 my-2">
                        <div><strong>Song:</strong> <a href="{% url 'view_song' comment.song.id %}">{{comment.song.get_title}}</a> ({{comment.song.filename}}) {% include 'song_artists.html' with song=comment.song %}</div>
                        <div><strong>Posted on:</strong> {{comment.create_date|date:"F j, o"}}</div>
                        <div><strong>Rating:</strong> {{comment.rating}}/10</div>                        
                        <br>
                        {{comment.text|markdownify:"comment"}}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            No comments
        {% endif %}
    </div>
{% endblock %}