{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: {{profile.display_name}} messages
{% endblock %}

{% block content %}
    <h1>
        Profile: {{ profile.display_name }}
    </h1>

    {% include "profile/profile_header_and_navigation.html" with profile=profile artist=profile.artist user=user active_tab='songs' %}

    <div class="tab-panel green">
        {% include 'common_elements/paginator.html' with page_obj=page_obj page_range=page_range %}

        {% include 'song_table.html' with songs=songs %}
    </div>
{% endblock %}