{% extends 'base_page/base.html' %}
{% load markdown_extras %}

{% block title %}
    {{ block.super }}: {{profile.display_name}} comments
{% endblock %}

{% block content %}
    <h1>Profile: {{ profile.display_name }}</h1>

    {% include "profile/profile_header_and_navigation.html" with profile=profile artist=profile.artist user=user active_tab='comments' %}

    <div class="tab-panel orange">
        <!-- Comments tab -->
        {% include 'common_elements/paginator.html' with page_obj=page_obj page_range=page_range %}

        {% if profile.has_comments %}
            <div class="comments orange">
                {% for comment in object_list %}
                    <div class="comment">
                        <div class="caption flex">
                            <div><strong>Song:</strong> <a href="{% url 'view_song' comment.song.id %}">{{comment.song.get_title}}</a> ({{comment.song.filename}}) {% include 'song_artists.html' with song=comment.song %}</div>
                            <div>Rating: {{comment.rating}}/10</div>
                        </div>
                        <p>{{comment.text|render_markdown }}</p>
                        <div class="footer">Posted on:{{comment.create_date|date:"F j, o"}}</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <p>No comments</p>
        {% endif %}
    </div>
{% endblock %}