{% extends 'base_page/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}: Upload songs
{% endblock %}

{% block content %}

{% if successful_files %}
    <div class="fs-3 text-success">Success</div>

    <p>The following uploads were processed successfully and will be reviewed by our staff before they are added to the archive.</p>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Filename</th>
            <th scope="col">Title</th>
            <th scope="col">Format</th>
            </tr>
        </thead>
        <tbody>
        {% for file in successful_files %}
            <tr>
                <td>{{file.filename}}</td>
                <td>{{file.title}}</td>
                <td>{{file.format.value}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <hr>
{% endif %}

{% if failed_files %}
    <div class="fs-3 text-danger">Failures</div>

    <p>The following uploads were not processed successfully. Please review the reason before attempting to upload again.</p>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Filename</th>
            <th scope="col">Reason</th>
            </tr>
        </thead>
        <tbody>
        {% for file in failed_files %}
            <tr>
                <td>{{file.filename}}</td>
                <td>{{file.reason}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
{% endif %}

<div class="fs-2">Upload songs</div>

<p>
    Uploading is simple enough, just browse and select the module from your hard disk. Alternatively, multiple files in a zipped archive is also supported. You can also upload individually zipped modules one at a time.
</p>

<p>
    There is a maximum file size limit on uploads, so please ensure that your file is no larger than 15mb for a single module (standalone-upload) or 25mb for a multi-upload ZIP file. Are you really sure you want to upload a 15MB module file? Unless it is an EXCEEDINGLY GOOD track, large modules that are larger than an MP3 render of the same length will probably not be considered for archiving.
</p>

<hr>

<div>  
    <form action="{% url 'upload_songs' %}" method="post" enctype="multipart/form-data" novalidate>    
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class='btn btn-primary mt-2' value="Upload">
    </form>
</div>

{% endblock %}
