{% extends 'base.html' %}
{% load markdownify %}

{% block title %}
    {{ block.super }}: Serving the Demoscene since 1996
{% endblock %}

{% block content %}
    {% if user.is_staff and perms.homepage.add_news %}
    <article class="message is-warning">
        <div class="message-header">
            <p>Admin Actions</p>
        </div>
        <div class="message-body">
            <a href="{% url 'admin:homepage_news_add' %}">Add a news item</a>
        </div>
    </article>
    {% endif %}

    {% for news in latest_news %}
        <div class="content has-background-light px-2">
            <div class="block">
                <span class="is-size-4">
                    {{ news.headline }}
                </span>
                <br/>
                <span class="is-size-7">
                    posted by {{ news.profile.display_name }} on {{ news.create_date|date:"F j, o" }}
                </span>
            </div>
            
            <div class="block">
                {{ news.content|markdownify|linebreaks }}
            </div>

            {% if user.is_staff and perms.homepage.change_news %}
            <div class="block is-size-7">
                <a href="{% url 'admin:homepage_news_change' news.id %}">Edit</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}    