{% extends 'base_page/base.html' %}
{% load markdown_extras %}

{% block title %}
    {{ block.super }}: Serving the Demoscene since 1996
{% endblock %}

{% block content %}
    {% if user.is_staff and perms.homepage.add_news %}
    <div class="adminpanel">
        <h4>Admin Actions</h4>
        <menu>
            <li>
                <a href="{% url 'admin:homepage_news_add' %}">Add a news item</a>
            </li>
        </menu>
    </div>
    {% endif %}    

    {% for news in latest_news %}
        <div class="border border-dark rounded p-1 my-2 bg-secondary bg-gradient bg-opacity-25">
            <div class="fw-bold fs-4">
                {{ news.headline }}
            </div>

            <div>
                posted by {{ news.profile.display_name }} on {{ news.create_date|date:"F j, o" }}
            </div>

            <p>
                {{ news.content|render_markdown }}
            </p>

            {% if user.is_staff and perms.homepage.change_news %}
                <div><a href="{% url 'admin:homepage_news_change' news.id %}">Edit</a></div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}    