{% extends 'base_page/base.html' %}
{% load markdownify %}
{% load filters %}

{% block title %}
    {{ block.super }}: {{profile.display_name}} profile
{% endblock %}

{% block content %}
    {% if user.profile and user.profile.id == profile.id %}
        <a href="{% url 'update_profile' %}">Update your profile</a>
        <br/><br/>
    {% endif %}

    <div class="fs-2">
        Profile: {{ profile.display_name }}
    </div>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'view_profile' profile.pk %}">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_profile_comments' profile.pk %}">Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_profile_favorites' profile.pk %}">Favorites</a>
        </li>
    </ul>
    
    <hr>

    <div class="tab-content mx-3 mt-2">
        <!-- Overview tab -->
        {% if profile.blurb %}
            {{ profile.blurb|markdownify:"profile"|modpage|safe }}
        {% endif %}
    </div>
{% endblock %}