{% extends 'base_page/base.html' %}
{% load markdownify %}

{% block title %}
    {{ block.super }}: {{profile.display_name}} profile
{% endblock %}

{% block content %}
    {% if user.profile and user.profile.id == profile.id %}
        <a href="{% url 'update_profile' %}">Update your profile</a>
        <br/><br/>
    {% endif %}

    <div class="fs-2">
        Profile: {{ profile.display_name }}
    </div>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_profile' profile.pk %}">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'view_profile_comments' profile.pk %}">Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_profile_favorites' profile.pk %}">Favorites</a>
        </li>
    </ul>
    
    <hr>

    <div class="tab-content">        
        <!-- Comments tab -->
        {% if profile.has_comments %}
            <div class='mx-5'>
                {% for comment in profile.comment_set.all %}
                    <div class="bg-success bg-opacity-25 border border-dark rounded p-1 mx-4 my-2">
                        <div><strong>Song:</strong> <a href="{% url 'view_song' comment.song.id %}">{{comment.song.get_title}}</a> ({{comment.song.filename}}) {% include 'song_artists.html' with song=comment.song %}</div>
                        <div><strong>Posted on:</strong> {{comment.create_date|date:"F j, o"}}</div>
                        <div><strong>Rating:</strong> {{comment.rating}}/10</div>                        
                        <br>
                        {{comment.text|markdownify:"comment"}}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            No comments
        {% endif %}
    </div>
{% endblock %}