{% extends 'base_page/base.html' %}

{% block title %}
    {{ block.super }}: Update profile
{% endblock %}

{% block content %}
    <div class="fs-2">Editing profile</div>

    <form action="{% url 'update_profile' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class='btn btn-primary mt-2' value="Update Profile">
    </form>

    <div>
        Markdown syntax:
        <br/>
        *italic*
        <br/>
        **bold**
        <br/>
        ~~strikethrough~~
        <br/>
        ---, *** or ___ to make a horizontal line break
    </div>
{% endblock %}