{% extends 'base_page/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}: Update profile
{% endblock %}

{% block content %}
    <h1>Editing profile</h1>

    <form action="{% url 'update_profile' %}" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class='btn btn-primary mt-2' value="Update Profile">
    </form>

    <div class="infobox">
        Markdown syntax:
        <br/>
        *italic*
        <br/>
        **bold**
        <br/>
        ~~strikethrough~~
        <br/>
        ---, *** or ___ to make a horizontal line break
    </div>
{% endblock %}