{% extends 'base.html' %}

{% block title %}
    {{ block.super }}: Update profile
{% endblock %}

{% block content %}
    Editing profile

    <form action="{% url 'update_profile' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class='button is-primary' value="Update Profile">
    </form>

    <div class="block is-size-7">
        Markdown syntax:
        <br/>
        *italic*
        <br/>
        **bold**
        <br/>
        ~~strikethrough~~
        <br/>
        ---, *** or ___ to make a horizontal line break
    </div>
{% endblock %}