a {
    text-decoration: none;
    color: #485fc7;
}

body {
    background: url(bg.png) top repeat-x #000000;
    background-attachment: fixed;
    font-family: Calibri,Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.disclaimer {
    font-size: 10px;
}

.tma-standard {
    font-size: 100%;
}

.internal-comment {
    overflow-x: auto;
    white-space: nowrap;
}

@media only screen and (min-width: 970px) {
    .container-sm {
        max-width: 970px;
    }
}