{% comment %} {% load sceneid_tags %} {% endcomment %}
<header>
    <div class="container">
        <div class="logo"></div>
        <a class="modarchive" href="{% url 'home' %}">The MOD Archive</a>
    </div>
</header>
<nav class="main">
    <div class="container">
        <section class="subnav main">
            <a href="{% url 'songs' %}">Songs</a>
            <a href="{% url 'artists' %}">Artists</a>
            <a class="secondary" href="{% url 'advanced_search' %}">Advanced Search</a>
            <form action="{% url 'search' %}" method="GET" value="{{request.GET.query}}" onsubmit="return window.formSubmit(this)">
                <input name='query' class='form-control' placeholder="Quick Search" />
                <input name='songs' type='hidden' value='on' />
                <input name='artists' type='hidden' value='on' />
            </form>
        </section>

        <section class="subnav">
            {% if user.is_authenticated %}
                {% if perms.uploads.can_upload_songs %}
                    <a href="{% url 'upload_songs' %}" class="nomobile">Upload Songs</a>
                {% endif %}
                {% if perms.uploads.can_approve_songs %}
                    <a href="{% url 'screening_index' %}" class="nomobile">Screen Songs</a>
                {% endif %}

                <div class="dropdown right">
                    <a class="button nav toggle-parent" href="{% url 'view_profile' user.profile.id %}">
                        <i class="icon user"></i>{{ user.username }}
                    </a>
                    <menu>
                        {% if user.profile %}
                            <li><a href="{% url 'view_profile' user.profile.id %}">View Profile</a></li>
                            <li><a href="{% url 'update_profile' %}">Update Profile</a></li>
                            <li><a href="{% url 'account_settings' %}">Account Settings</a></li>
                            <li><a href="{% url 'change_password' %}">Change Password</a></li>
                        {% endif %}
                        {% if perms.uploads.can_upload_songs %}
                            <li class="onlymobile"><a href="{% url 'upload_songs' %}">Upload Songs</a></li>
                        {% endif %}
                        {% if perms.uploads.can_approve_songs %}
                            <li class="onlymobile"><a href="{% url 'screening_index' %}">Screen Songs</a></li>
                        {% endif %}
                        <li><a href="{% url 'pending_uploads' %}">Pending Uploads</a></li>
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">
                                    Log out
                                </button>
                            </form>
                        </li>
                    </menu>
                </div>

            {% else  %}
                <a class="btn btn-primary" href="{% url 'register' %}"><strong>Sign up</strong></a>
                <a class="btn btn-light" href="{% url 'login' %}?next={{request.path}}">Log in</a>
                {% comment %} {% sceneid_login_button_small %} {% endcomment %}
            {% endif %}
        </section>


    </div>
</nav>