.adminpanel{
  border: 1px solid $red-darker;
  background: linear-gradient(0, #200c0c 0%, #000000 50%);
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;

  h4{
    margin: 0;
    background: linear-gradient(0, #5e1b16 0%, #29060e 100%);
    font-size: 16px;
    font-weight: normal;
    padding: 4px 10px;
    color: #dc7066;
  }

  menu{
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    a{
      font-size: 14px;
      border: 1px solid #402020;
      margin: 2px;
      padding: 4px 10px;
      border-radius: 4px;
      text-decoration: none;
      color:#bd7c7c;
      text-wrap: nowrap;
      display: block;

      &:hover{
        border-color: $red-dark;
        color: $orange;
      }
    }
  }
}