$blue : #66b9dc;
$green: #6cae73;
$orange: #dc7f66;
$yellow: #c6a75d;
$purple: #bf27c8;

$link-hover-color: #1BC29A;

$border-color: #11422b;
$border-hover-color: #215c5e;
$border-dim-color: #515337;

$nav-link-color: #889c78;
$nav-link-hover-color: #bdcfc8;

$red-dark: #6e1c1c;
$red-darker: #441616;


