header{
  background-image: url(../_img/back.png);
  background-size: 100% 100%;
  height: 96px;

  .logo{
    height: 96px;
    width: 118px;
    background-image: url(../_img/bars.png);
    background-size: 100% 100%;
  }

  .modarchive{
    position: absolute;
    left: 145px;
    top: 47px;
    width: 350px;
    height: 40px;
    background-image: url(../_img/modarchive.png);
    background-size: contain;
    color: transparent;
  }
}

@media (max-width: 640px) {
  header .modarchive{
    width: 270px;
    top: 52px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 420px) {
  header .logo{
    width: 68px;
  }

  header .modarchive{
    left: unset;
    right: 10px;
  }
}

@media (max-width: 366px) {
  header .logo{
    position: absolute;
    right: 281px;
  }
}