i.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.bottom{
    vertical-align: bottom;
  }

  &.star{
    background-image: url("../_img/star.svg");
  }

  &.user{
    background-image: url("../_img/headphone.svg");
  }

  &.info{
    background-image: url("../_img/info.svg");
  }
}

button,
.button{
  i.icon{
    vertical-align: sub;
    margin-right: 8px;
  }
}