.messages,
.comments{
  .message,
  .comment,
  .messagereply-form{
    background: linear-gradient(0,rgb(32, 46, 43) 0%, rgb(24, 25, 24) 100%);;
    border: 1px solid #3F8577;
    margin: 7px 0 14px 0;
    border-radius: 4px;
    padding: 0 10px 10px 10px;
    position: relative;
    overflow: hidden;
    font-size: 14px;

    .caption{
      margin: 0 -10px;
      background: linear-gradient(0,#3b534b 0%, #25302c 100%);
      padding: 4px 10px;

      a{
        color: #a5cfc5;
      }

      &.flex{
        justify-content: space-between;
      }
    }

    &.reply{
      margin-left: 32px;
    }

    .footer{
      font-size: 12px;
      text-align: right;
      margin-bottom: -6px;
      color: #80978e;
    }
  }

  .reply-form,
  .messagereply-form{
    button.reply{
      position: absolute;
      display: inline-block;
      color: #7ac8b7;
      border: 1px solid #7ac8b788;
      padding: 1px 4px;
      font-size: 12px;
      border-radius: 4px;
      bottom: 4px;
      right: 4px;

      &:hover{
        color: #b1cfc9;
        border: 1px solid #b1cfc9;
      }
    }

    form{
      display: none;

      label{
        display: none
      }

      textarea{
        height: 80px;
        width: 100%;
        border: 1px solid #32443E;
        background-color: #00000055;

        &:focus{
          border-color: #3F8577;
          outline: none;
        }
      }

      button.reply-link{
        background-color: transparent;
      }
    }

    &.active{
      button.reply{
        display: none;
      }
      form{
        display: block;
      }
    }

    h3{
      margin: 0 -10px 8px -10px;
      padding: 2px 8px;
      font-weight: normal;
      font-size: 14px;
      border-bottom: 1px solid #32443E;
      border-top: 1px solid #32443E;
    }

    .buttons{
      text-align: right;
    }
  }

  .messagereply-form{
    form{
      display: block;
    }
  }

  &.purple{
    .message,
    .messagereply-form{
      filter: hue-rotate(138deg);
    }
  }

  &.orange{
    .comment{
      filter: hue-rotate(233deg);
    }
  }
}
