.alert{
  display: block;
  border: 1px solid #888;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0;

  &.warning,
  &.alert-warning{
    border-color: $red-dark;
    color: #a86a59;
  }
}

.fixed-alert{
  position: fixed;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 4px 8px;
  font-size: 10px;
  z-index: 1000;
}